/* adminlte treeview-menu */
.treeview-label {
  margin-left: 5px;
}

/* adminlte header*/
.navbar-brand {
  svg {
    vertical-align: middle;
  }
}

.main-header .logo-mini {
  margin: 0 !important;
  svg {
    vertical-align: middle;
  }
}

.main-header .logo-lg {
  padding: 10px;
  svg {
    max-height: 30px;
  }
}

.main-header .sidebar-toggle::before {
  content: "";
}

.navbar-header {
  a {
    svg {
      max-height: 20px;
    }
  }
}
