/* adminlte treeview-menu */
.treeview-label {
  margin-left: 5px;
}

/* adminlte header*/
.navbar-brand {
  svg {
    vertical-align: middle;
  }
}

.main-header .logo-mini {
  margin: 0 !important;
  svg {
    vertical-align: middle;
  }
}



.main-header .logo-lg {
  padding: 10px;
  svg {
    max-height: 30px;
  }
}

.main-header .sidebar-toggle::before {
  content: "";
}

.navbar-header {
  a {
    svg {
      max-height: 20px;
    }
  }
}

/* home logo */
.navbar-header a.home-logo {
  padding: 5px 0;
  height: 50px;
  width: auto;
  margin-left: 0 !important;
  svg {
    height: 40px !important;
    max-height: 40px !important;
  }
}
