# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

# misc
frontend/web/backend
composer.lock
_ssl/*
_data

# favicon
frontend/web/android-chrome-192x192.png
frontend/web/android-chrome-512x512.png
frontend/web/apple-touch-icon.png
frontend/web/favicon-16x16.png
frontend/web/favicon-32x32.png
frontend/web/mstile-150x150.png
frontend/web/safari-pinned-tab.svg