Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
## www redirect no www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
## if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
## otherwise forward it to index.php
RewriteRule . index.php
